extends ../../layouts/defaultProduct.pug

block main 
    body
        div(class="container")
            div(class="title") PRODUCT DETAIL 
            div(class="product-frame")
                div(class="detail")
                    div(class="image") 
                        img(
                            style="width: 300px;"
                            src=product.thumbnail
                        )
                    div(class="content")
                        h1(class="name",style="font-size: 36px") #{product.title}
                        div(class="price") 
                        span(style="font-size: 28px; color: #007f5f") $#{product.price} 
                        div(class="buttons")
                            button.checkout-button Check Out
                            button.add-to-cart-button    
                                | Add To Cart
                                i(class="fa-solid fa-cart-shopping")
                        div(class="description",style="font-size:18px;color:#004d40") #{product.description} 
            div(class="title") SIMILAR PRODUCT
