mixin search()
    form.search(onsubmit="return false")

        label.search__label(for="search") Search
        
        .search__input-wrap

            input#search.search__input(
                type="text" 
                name="search"
                placeholder="Search..."
            )

            button.search__button(
                type="submit" 
                name="search-submit" 
                aria-label="Search"
            )

                svg.search__icon(viewBox="0 0 36 36" width="36px" height="36px" aria-hidden="true")

                    g.search__icon-g(
                        stroke="currentcolor"
                        stroke-linecap="round" 
                        stroke-width="4"
                        transform="translate(6,6)"
                    )
                    
                        ellipse.search__icon-ellipse(
                            fill="none" 
                            cx="9" 
                            cy="9" 
                            rx="7" 
                            ry="7" 
                            transform="rotate(45,9,9)"
                        )

                        line.search__icon-line1(
                            x1="15" 
                            y1="15" 
                            x2="21" 
                            y2="21"
                        )

                        line.search__icon-line2(
                            x1="21" 
                            y1="21" 
                            x2="15" 
                            y2="15"
                        )

                        line.search__icon-line3(
                            x1="21" 
                            y1="21" 
                            x2="15" 
                            y2="15"
                        )