extends ../../layouts/auth(login).pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug


block main
  +alert-error(5000)
  +alert-success(5000)
  body
    // Animated Wave Background
    .ocean
      .wave
      .wave

    // Log In Form Section
    section
      .container#container

        .form-container.sign-in-container
          form(
            action="/auth/login"
            method="POST"
          )
            h1 Sign in
            div #{records.name}
            .social-container
              a(href='https://Github.com/tai03102004', target='_blank', class='social')
                i.fab.fa-github
              a(href='https://www.facebook.com/profile.php?id=100024361560751', target='_blank', class='social')
                i.fab.fa-facebook
              a(href='dinhductai2004@gmail.com', target='_blank', class='social')
                i.fab.fa-google
            span Or sign in using E-Mail Address
            label
              input(type="text" 
                id="loginInput" 
                class="form-control"
                name="name_id"
                required
                placeholder="Tên đăng nhập"
              )
            label(for="password")
              div(style="position: relative;")
                input(type="password" class="form-control1" id="password" name="password" required placeholder="Password")
                i(class="fa-solid fa-eye toggle-password")
            a(href="/auth/password/forgot") Forgot your password?
            button.SignIn Sign In

        .overlay-container
          .overlay
            .overlay-panel.overlay-left
              h1 Log in
              p Sign in here if you already have an account
              button.ghost.mt-5#signIn Sign In

            .overlay-panel.overlay-right
              h1 Create, Account!
              p Sign up if you still don't have an account
              button.ghost#signUp Sign Up
              button.ghost#signUp(style="position: relative; top: 15px;")
                a(href="/") Quay lại
  script(src="/js/auth(login).js")